@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: #3959a2;
    font-size: 2em;
    padding-right: 68em;
    text-shadow: 0.04em 0.02em white;
    text-transform: uppercase;
    padding-left: 0.2em;
    border-left: 8px solid #ffffff;
}

h2 {
    display: flex;
    justify-content: center;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    text-transform: uppercase;
    position: relative;
}

h2:after {
    content: "";
    position: absolute;
    background-color: #3959a2;
    height: 5px;
    width: 40%;
    bottom: -10px;
    left: 30%;
    opacity: 1;
    z-index: -1;
    transition: all 1s ease-in-out;
}

h3 {
    display: flex;
    justify-content: center;
    color: #fff;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

.titre {
    display: flex;
    position: absolute;
    top: 2%;
    left: 42%;
}

.liste_titre {
    padding: 5% 0% 0% 0%;
    font-size: 3em;
}

.form1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

.scroller {
    height: 500px;
    overflow-y: scroll;
    color: #fff;
    transform: scale(1.1);
    transition: all .5s ease;
    scrollbar-color: rebeccapurple #3959a2;
    scrollbar-width: thin;
}

.liste {
    background-color: #ffffff00;
    padding: 2%;
    border: 1px solid #fff;
}

.btn {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.btn a {
    font-family: 'Poppins', sans-serif;
}

.btn a:before,
.btn a:after {
    position: absolute;
    content: "Supprimer";
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a:before {
    transform: rotateY(0deg) translateZ(25px);
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px #ffffff;
    font-weight: 700;
    color: #ffffff;
}

.btn a:after {
    transform: rotateX(90deg) translateZ(25px);
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}

.btn_deco {
    position: relative;
    display: inline-flex;
    margin: 0 15px;
    top: -77px;
    left: 83%;
}

.btn_deco a {
    font-family: 'Poppins', sans-serif;
}

.btn_deco a:before,
.btn_deco a:after {
    position: absolute;
    content: "Déconnexion";
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_deco a:before {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px #ffffff;
    font-weight: 700;
    color: #ffffff;
}

.btn_deco a:after {
    transform: rotateX(90deg) translateZ(25px);
}

.btn_deco:hover {
    background-color: #3959a2;
    box-shadow: 5px 5px #fff;
    color: #fff;
}


button.btn_modif {
    display: inline-flex;
    height: 55px;
    margin: 0px 15px;
    perspective: 1000px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f1;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 150px;
    border: 1px solid #0c0c0c;
    box-shadow: 5px 5px #3959a2;
    color: #0c0c0c;
    position: relative;
    transition: 0.3s ease-in-out;
}

button.btn_modif:hover {
    background-color: #3959a2;
    box-shadow: 5px 5px #fff;
    color: #fff;
    transform: scale(1.1);
    transition: all .5s ease;
}

.input {
    background-color: rgb(255, 255, 255);
    width: -webkit-fill-available;
    height: 35px;
    border: none;
    border-bottom: 2px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.input:focus-visible {
    background-color: #3959a2;
    outline: none;
    color: #fff;
}

.space {
    height: 100px;
}

.pad {
    padding: 2%;
    background-color: #000000;
    border-radius: 5px;
}


/* Page connexion */

.form2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.etape2 {
    padding-top: 5%;
}

.all {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}


/* Page mauvais identifiant/mdp */

.btn_redirection {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.btn_redirection a {
    font-family: 'Poppins', sans-serif;
}

.btn_redirection a:before,
.btn_redirection a:after {
    position: absolute;
    content: "Reconnexion";
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_redirection a:before {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px #ffffff;
    font-weight: 700;
    color: #ffffff;
}

.btn_redirection a:after {
    transform: rotateX(90deg) translateZ(25px);
}

.btn_redirection a:hover {
    background-color: #3959a2;
    box-shadow: 5px 5px #fff;
    color: #fff;
}